.signin-register {
    background: rgba(44, 62, 80, .92); /* .7 */
    padding: 40px;
    width: auto;
    margin: auto;
    margin-top: 90px;
    /* height: 400px; */
    height: auto;
    margin-left: 180x;
    border-radius: 5px;
}

.signin-form,
.register-form {
    width: 240px;
    text-align: center;
}

/* .register-form {
    display: none;
} */

.hidden {
    display: none;
}

.form-input {
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
    border-radius: 5px;
}

.login-button[type=submit] {
    border: none;
    width: 190px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
}

.login-button[type=submit]:hover {
    color: #fff;
    background-color: black;
}

.register-button[type=submit] {
    border: none;
    width: 190px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
}

.register-button:hover {
    color: #fff;
    background-color: black;
}

.cancel{
    margin: 10px;
    border: none;
    width: 190px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
}