.about-page {
  min-height: 100vh;
  /* min-height: 700px; */
  background-color: rgb(44, 62, 80);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2,
p {
  color: white;
  margin: 0;
  font-weight: 300;
}

.card-paragraph {
  font-weight: 500;
  line-height: 24px;
}

h2 {
  font-size: 52px;
}

.card-title {
  font-size: 25px;
  margin: 0;
  text-decoration-line: underline;
  color: black;
}


.about-header-container {
  margin-top: 35px;
  text-align: center;
}

.about-cards-container {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.about-card {
  background-color: #9d8b7c;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  color: white;
  width: 30%;
  height: 350px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.cards-line {
  margin: 1em 0;
}

.short-line {
  display: inline-block;
  border-width: 0;
  height: 2px;
  margin: 2em 0;
  width: 50px;
  background-color: white;
}

.signin-button {
  border: none;
  width: 150px;
  margin-top: 20px;
  background: white;
  color: #000;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  border-radius: 15px;
  cursor: pointer;
  text-decoration-line: none;
}

.signin-button:hover {
  color: #fff;
  background-color: #1F9A8C;
}

.demo-link {
  width: 150px;
  background-color: #1F9A8C;
  padding: 10px 0;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
  margin-top: 20px;
  /* transition: background-color 0.3s; */
}

.demo-link:hover {
  background-color: white;
  color: black;
}


@media (max-width: 500px) {
  .about-card {
    margin-bottom: 10px;
    width: 100%;
    flex: 1;
  }

  .about-cards-container {
    flex-direction: column;
  }

  .about-page {
    min-height: 100vh;
  }
}

@media screen and (min-width: 350px) {
  .signin-button  {
    margin-top: 10px;
    margin-bottom: 25px;
  }
}